body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav.navbar {
	background-color: #3c3746;
}
nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
	color: white;
}
nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
	color: grey;
}

#section_1 {
	background-color: black;
}

#error{
    display: block;
}     
#error:empty{
    display: none;
}