body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav.navbar {
	background-color: #3c3746;
}
nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
	color: white;
}
nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
	color: grey;
}

#section_1 {
	background-color: black;
}

#error{
    display: block;
}     
#error:empty{
    display: none;
}


/*Pages paramètres*/
.modePartage1:after{
	content:"Mes amis";
}

.modePartage2:after{
	content:"Mes amis et leurs amis";
}

.modePartage3:after{
	content:"Tout le monde";
}

/* ---------- Ancien tableau des messages reçus -----------
table{
    position: relative;
    margin: auto;
    padding: 50px;
    border-collapse: collapse;
    width: -webkit-fill-available;
}

table tr{
    border: 1px solid black;
}

table th{
    color: white;
    background: #184e5b;
}

table td, table th{
    position: relative;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    height: 30px;
    box-sizing: border-box;
}

table td:nth-child(1){
    font-weight: bold;
    color: white;
    background: #184e5b;
    box-shadow: inset 2px -1px 5px rgba(4,5,4,0.4);
    width: 50px;
}

table tr:nth-child(odd){
    border: 2px solid black;
    border-bottom: dotted;
    border-bottom-color: black;
    background-color: white;
}

table tr:nth-child(even){
    border-bottom-color: black;
    background-color: #eaeaea;
}

.boutonPartage {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.boutonPartage:hover {
  background-color: #008CBA;
  color: white;
}

.boutonEnvoi {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 47%;
}

.boutonEnvoi:hover {
  background-color: #008CBA;
  color: white;
}

h2 {
  text-align: center;
    color: #283c66;
    font-size: 40px;
}

#envoi{
  margin-top: 50px;
  text-align: center;
    color: #283c66;
    font-size: 20px;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  display: block;
  margin-left: auto; 
  margin-right: auto; 
}
*/

